@media only screen and (max-width: 1200px) {
    
    
    
    
}

@media only screen and (max-width: 1023px) {
    
    body, html{
        clear: both;
        margin: 0in;
    }  
    .life, .life1{
        display: block;
    }
    

}

@media only screen and (max-width: 767px) {
    
  body, html{
       clear: both;
      margin: 0in;
    }   
   .life, .life1{
        display: block;
       
    } 
    .main-nav { display: none; }
    
    .nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .nav-icon { margin-top: 0px; }
    .sticky .nav-icon i { color: black; }
    
}

@media only screen and (max-width: 480px) {
    
  body, html{
       margin: 0in;
    }   
    
    
}

